{
  "name": "html",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
}